.p_c{
	color: #9786FF;
}
.p_b{
	background: #9786FF;
}
.f12{
	font-size: 12px;
}
.f14{
	font-size: 14px;
}
.f15{
	font-size: 15px;
}
.f16{
	font-size: 16px;
}
.f18{
	font-size: 18px;
}
.f24{
	font-size: 24px;
}
.f46{
	font-size: 46px;
}
.dark{
	color: #000000;
}
.black{
	color: #333333;
}
.white{
	color: #ffffff;
}
.shallow_gray{
	color: #666666;
}
.dan_gray{
	color: #999999;
}
.pink{
	color: #FF5787;
}
.bold{
	font-weight: bold;
}

.tc{
	text-align: center;
}

.flex{
	display: flex;
}
.flex-col{
	flex-direction: column;
}
.flex-1{
	flex:1;
}
.ac{
	align-items: center;
}
.as{
	align-items: flex-start;
}
.jc{
	justify-content: center;
}
.js{
	justify-content: flex-start;
}
.jsa{
	justify-content: space-around;
}
.jsb{
	justify-content: space-between;
}
.jsc{
	justify-content: center;
}
.pa{
	position: absolute;
}
.pr{
	position: relative;
}
.pf{
	position: fixed;
}
.z9{
	z-index: 9;
}
.pl8{
	padding-left: 8px;
}
.pl10{
	padding-left: 10px;
}
.pl15{
	padding-left: 15px;
}
.pl20{
	padding-left: 20px;
}
.pt5{
	padding-top: 5px;
}
.pt12{
	padding-top: 12px;
}
.pb12{
	padding-bottom: 12px;
}
.pb15{
	padding-bottom: 15px;
}
.pr8{
	padding-right: 8px;
}
.pr10{
	padding-right: 10px;
}
.pr15{
	padding-right: 15px;
}
.pr20{
	padding-right: 20px;
}
.mt10{
	margin-top: 10px;
}
.mt15{
	margin-top: 15px;
}
.mt20{
	margin-top: 20px;
}
.mt28{
	margin-top: 28px;
}
.mr5{
	margin-right: 5px;
}
.mr8{
	margin-right: 8px;
}
.mr10{
	margin-right: 10px;
}
.mr12{
	margin-right: 12px;
}
.mr30{
	margin-right: 30px;
}
.mb10{
	margin-bottom: 10px;
}
.mb4{
	margin-bottom: 4px;
}
.mb15{
	margin-bottom: 15px;
}
.mb20{
	margin-bottom: 20px;
}
.mb28{
	margin-bottom: 28px;
}
.ml5{
	margin-left: 5px;
}
.ml8{
	margin-left: 8px;
}
.ml10{
	margin-left: 10px;
}
.ml12{
	margin-left: 12px;
}
.ml30{
	margin-left: 30px;
}
.top-0{
	top:0;
}
.bottom-0{
	bottom:0;
}
.left-0{
	left: 0;
}
.right-0{
	right: 0;
}
.r12{
	right: 12px;
}
.b28{
	bottom: 28px;
}
.width-100{
	width: 100%;
}
.height-100{
	height: 100%;
}
.br-50{
	border-radius: 50%;
}
.scroll-y{
	overflow-y: scroll;
}
.text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}